{% extends "./base.html" %}

{% block title %} Gestion del Sistema {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Proveedor</h2>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{% url 'actualizar_proveedor' proveedores.idProveedor %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}