{% extends "./base.html" %}

{% block title %} Gestion del Sistema {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Entrada Almacen</h2>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{% url 'actualizar_EntradaAlmacen' entradaAlmacenes.idEntradaAlmacen %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.Fksku.id_for_label }}">Nombre del Producto:</label>
                        <input type="text" id="id_Fksku" class="form-control" value="{{ form.instance.Fksku.nombre }}"
                            readonly>
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="id_nombreProductoA">Nombre del Producto:</label>
                        <input type="text" id="id_nombreProductoA" class="form-control"
                            value="{{ form.instance.Fksku.sku }}" readonly>
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.fechaEntrada.id_for_label }}">Fecha De Entrada:</label>
                        {{ form.fechaEntrada }}
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.cantidad.id_for_label }}">Cantidad:</label>
                        <br>
                        {{ form.cantidad }}
                    </div>
                    <br>
                    <button type="submit">Actualizar</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}