{% extends "./base.html" %}

{% block title %} Gestion del Sistema {% endblock %}

{% block content %}

<div class="right_col" role="main">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Departamento</h2>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{% url 'actualizar_departamento' departamentos.idDepartamento %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}