{% extends 'base.html' %}

{% block title %}Registro de Pedidos{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 py-4 col-xl-4">

        <h2>Registro de Pedidos</h2>

        <form method="post" action="{% url 'registrar_Pedido' %}">
            {% csrf_token %}
            <div class="form-group">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                <div class="input-group">
                    <input type="text" id="buscar" name="codigoBarras" class="form-control mr-2" style="width: 280px;"
                        placeholder="Escanear código de barras">
                    <button type="submit" class="btn btn-outline-primary">
                        <img src="/static/img/upc-scan.svg">
                    </button>
                </div>
            </div>
        </form>

        <br>

        <div class="card border border-dark">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="CodigoBarras">Codigo de Barras:</label>
                        <br>
                        {{ form.codigoBarras }}
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="Fksku">FK SKU:</label>
                        <br>
                        {{ form.Fksku }}
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="nombreFksu">Nombre del Producto:</label>
                        <br>
                        {{ form.nombreFksu }}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="idEmpleado">ID Empleado:</label>
                        <br>
                        {{ form.idEmpleado }}
                        {% if form.errors.idEmpleado %}
                        <span class="text-danger">{{ form.errors.idEmpleado }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="fechaPedido">Fecha de Pedido:</label>
                        <br>
                        {{ form.fechaPedido }}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="cantidad">Cantidad:</label>
                        <br>
                        {{ form.cantidad }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 py-4 col-xl-8">
        <h1>Listado de Pedidos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Pedido</th>
                        <th>Nombre del Empleado</th>
                        <th>Nombre del Producto</th>
                        <th>FK Sku</th>
                        <th>Fecha de Pedido</th>
                        <th>Cantidad</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in pedidos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{x.idPedido}}</td>
                        <td>{{x.idEmpleado}}</td>
                        <td>{{x.Fksku.nombre}}</td>
                        <td>{{x.Fksku.sku}}</td>
                        <td>{{x.fechaPedido}}</td>
                        <td>{{x.cantidad}}</td>
                        <td><a href="/edicionPedido/{{x.idPedido}}" class="btn btn-outline-primary"><img
                                    src="/static/img/editar.svg"></a></td>
                        <td><a href=" /eliminarPedido/{{x.idPedido}}" class="btn btn-outline-danger btnEliminacion">
                                <img src="/static/img/borrar.svg">
                            </a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}