{% extends 'base.html' %}

{% block title %}Registro de Almacen{% endblock %}

{% block content %}

<div class="right_col" role="main">
    <div class="col-sm-12 col-md-6 col-lg-4 py-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Registro de Almacen</h2>

        <body>
            <form method="post" action="{% url 'registrar_almacen' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="buscar" name="codigoBarras" class="form-control mr-2"
                            style="width: 280px;" placeholder="Escanear código de barras">
                        <button type="submit" class="btn btn-outline-primary">
                            <img src="/static/img/upc-scan.svg">
                        </button>
                    </div>
                </div>
            </form>
        </body>
        <br>

        <div class="card border border-dark">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="CodigoBarras">Codigo de Barras:</label>
                        <br>
                        {{ form.codigoBarras }}
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="Fksku">FK SKU:</label>
                        <br>
                        {{ form.Fksku }}
                        <br>
                    </div>

                    <div class="form-group">
                        <label for="Nombre del Producto">Nombre del Producto</label>

                        {{ form.nombreFksu }}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="cantidad">Cantidad:</label>
                        <br>
                        {{ form.cantidad }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </form>
            </div>
        </div>
        <br>
        <form action="/generar_excel_almacen" method="GET">
            <button type="submit" class="btn btn-outline-success">EXPORTAR EXCEL</button>
        </form>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 py-4 col-xl-8">
        <h1>Listado de Almacen</h1>
        <br>
        <form method="post" action="{% url 'registrar_almacen' %}">
            {% csrf_token %}
            <div class="form-group d-flex">
                <input type="text" id="buscar" name="buscar" class="form-control mr-2" style="width: 280px;"
                    placeholder="Buscar">
                <button type="submit" class="btn btn-outline-primary">
                    <img src="/static/img/search.svg">
                </button>
            </div>
        </form>
        <div class="table-responsive py-2" style="height: 650px; overflow-y: auto;">
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Almacen</th>
                        <th>Nombre del Producto</th>
                        <th>FK Sku</th>
                        <th>Codigo de Barras</th>
                        <th>Cantidad</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in almacenes %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{x.idAlmacen}}</td>
                        <td>{{x.Fksku.nombre}}</td>
                        <td>{{ x.Fksku.sku }}</td>
                        <td>{{ x.Fksku.codigoBarras }}</td>
                        <td>{{ x.cantidad }}</td>
                        <td><a href="/edicionAlmacen/{{x.idAlmacen}}" class="btn btn-outline-primary"><img
                                    src="/static/img/editar.svg"></a></td>
                        <td><a href=" /eliminarAlmacen/{{x.idAlmacen}}" class="btn btn-outline-danger btnEliminacion">
                                <img src="/static/img/borrar.svg">
                            </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if almacenes.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="visually-hidden">First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ almacenes.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="visually-hidden">First</span>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                </li>
                {% endif %}

                {% for page in almacenes.paginator.page_range %}
                {% if page == almacenes.number %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if almacenes.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ almacenes.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ almacenes.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden">Last</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden">Last</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}