{% extends 'base.html' %}

{% block title %}Registro de Producto{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 py-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Registro de Producto</h2>
        <div class="card border border-dark">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="sku">SKU:</label>
                        <br>
                        {{ form.sku }}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="codigoBarras">Codigo De Barras:</label>
                        <br>
                        {{ form.codigoBarras }}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="nombre">Nombre:</label>
                        <br>
                        {{ form.nombre }}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="precio">Precio:</label>
                        <br>
                        {{ form.precio }}
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="fkproveedor">FK Proveedor:</label>
                        <br>
                        {{ form.fkproveedor }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-8 py-4 col-xl-8">
        <h1>Listado de Productos</h1>
        <br>
        <form method="post" action="{% url 'registrar_producto' %}">
            {% csrf_token %}
            <div class="form-group d-flex">
                <input type="text" id="buscar" name="buscar" class="form-control mr-2" style="width: 280px;"
                    placeholder="Buscar">
                <button type="submit" class="btn btn-outline-primary">
                    <img src="/static/img/search.svg">
                </button>
            </div>

            <div class="table-responsive py-2">
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>SKU</th>
                            <th>Codigo de Barras</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Proveedor</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in productos %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{x.sku}}</td>
                            <td>{{x.codigoBarras}}</td>
                            <td>{{x.nombre}}</td>
                            <td>{{x.precio}}</td>
                            <td>{{ x.fkproveedor.nombre }}</td>
                            <td><a href="/edicionProducto/{{x.sku}}" class="btn btn-outline-primary"><img
                                        src="/static/img/editar.svg"></a></td>
                            <td><a href=" /eliminarProducto/{{x.sku}}" class="btn btn-outline-danger">
                                    <img src="/static/img/borrar.svg">
                                </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>
<script>
    document.addEventListener('keydown', function (event) {
        var skuField = document.getElementById('sku');
        var codigoBarrasField = document.getElementById('codigo_barras');

        // Verificar si el campo SKU tiene el foco y el código de barras no está vacío
        if (document.activeElement === skuField && event.target.value !== '') {
            event.preventDefault(); // Evitar que se ingresen caracteres adicionales

            // Asignar el valor del código de barras al campo SKU
            skuField.value = event.target.value;
            codigoBarrasField.value = event.target.value;

            // Limpiar el valor del código de barras después de llenar el campo SKU
            event.target.value = '';
        }
    });
</script>
{% endblock %}