{% extends 'base.html' %}

{% block title %}Registro de Pedidos{% endblock %}

{% block body %}
<div class="col-sm-12 col-md-6 col-lg-8 py-4 col-xl-8">
    <h1>Listado de Ingresos</h1>
    <form action="/generar_reporte_ingresos" method="post">
        <div class="card border border-dark">
            <div class="card-body">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="fecha_inicio">Fecha de inicio:</label>
                            <input type="date" id="fecha_inicio" name="fecha_inicio" required>
                        </div>
                        <div class="col-md-4">
                            <label for="fecha_fin">Fecha de fin:</label>
                            <input type="date" id="fecha_fin" name="fecha_fin" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <br>
                    <label for="nombre_producto">Nombre del producto:</label>
                    <input type="text" id="nombre_producto" name="nombre_producto">
                </div>
                <div class="form-group">
                    <br>
                    <label for="fksku">FK Sku:</label>
                    <input type="text" id="fksku" name="fksku">
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-success">Generar Reporte</button>
                    </div>
                    <div class="col-md-4">
                        <a href="/reporteIngresos" class="btn btn-outline-success">Actualizar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive py-2">
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>ID Entrada</th>
                <th>Nombre del Producto</th>
                <th>FK Sku</th>
                <th>Fecha de Ingreso</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for x in entradaAlmacenes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ x.idEntradaAlmacen }}</td>
                <td>{{ x.Fksku.nombre }}</td>
                <td>{{ x.Fksku.sku }}</td>
                <td>{{ x.fechaEntrada }}</td>
                <td>{{ x.cantidad }}</td>
                <td>{{ x.Fksku.precio }}</td>
                <td>{{ x.valorTotal }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="7" style="text-align: right;"><strong>Valor Total:</strong></td>
                <td id="valor-total"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var tabla = document.getElementsByClassName("table")[0];
    var filas = tabla.getElementsByTagName("tr");

    var total = 0;

    for (var i = 1; i < filas.length - 1; i++) {
        var celdaValorTotal = filas[i].getElementsByTagName("td")[7];
        var valorTotal = parseFloat(celdaValorTotal.textContent);


        if (!isNaN(valorTotal)) {
            total += valorTotal;
        }
    }

    var celdaValorTotal = document.getElementById("valor-total");
    celdaValorTotal.innerText = "$" + total.toFixed(2);
</script>
{% endblock %}